[submodule "wayland/src/main/native/external/libffi"]
	path = wayland/src/main/native/external/libffi
	url = https://android.googlesource.com/platform/external/libffi.git
[submodule "wayland/src/main/native/external/wayland"]
	path = wayland/src/main/native/external/wayland
	url = https://github.com/jekstrand/wayland.git
