[submodule "jni/external/wayland"]
	path = jni/external/wayland
	url = https://github.com/jekstrand/wayland.git
[submodule "jni/external/libffi"]
	path = jni/external/libffi
	url = https://android.googlesource.com/platform/external/libffi.git
